<div class="post-nav">
    <div class="prev">
        {% if page.previous.url %}
        <a href="{{page.previous.url}}">
            {% if page.previous.category and page.previous.category != page.category %}
                {{page.previous.category}}:
            {% endif %}
            {{page.previous.title}}
        </a>
        {% endif %}
    </div>
    <h2 class="text-center">
        {{ page.title }}<br />
        <small>{{ page.date | date: "%A, %b %e, %Y" }}</small>
    </h2>
    <div class="next">
        {% if page.next.url %}
        <a href="{{page.next.url}}">
            {% if page.next.category and page.next.category != page.category %}
                {{page.next.category}}:
            {% endif %}
            {{page.next.title}}
        </a>
        {% endif %}
    </div>
</div>