$cwidth: 600px;
$vpad: 10px;
$hpad: 15px;
$theme-color: #008800;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: $theme-color;
    min-width: 300px;
}

header {
    background: #444444;
    color: white;

    a {
        color: inherit;
    }

    .title {
        font-size: 32px;
        font-weight: bold;

        img {
            vertical-align: middle;
        }
    }

    .container {
        background: inherit;
    }
}

footer {
    margin-top: -$vpad;

    .container:last-of-type {
        @include border-radius(0 0 10px 10px);
    }
}

nav {
    ul {
        display: block;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        display: inline;

        &::after {
            content: ' | ';
        }

        &:last-child::after {
            content: '';
        }
    }
}

.post-nav {
    display: flex;
    align-items: center;

    .prev {
        flex: 1;
        text-align: left;

        a::before {
            content: '\ab  ';
        }
    }

    .next {
        flex: 1;
        text-align: right;

        a::after {
            content: '  \bb';
        }
    }
}

a {
    color: $theme-color;
    text-decoration: none;

    &:hover {
        text-shadow: 0 0 0.2em invert(complement($theme-color));
    }

    &.active {
        font-weight: bolder;

        &:hover {
            text-shadow: inherit;
        }
    }
}

.container {
    margin: 0;
    background: white;
    padding: $vpad $hpad;
}

@media (min-width: $cwidth) {
    .container {
        width: $cwidth;
        margin: 0 auto;
    }
}