$cwidth: 600px; $vpad: 10px; $hpad: 15px;
$theme-color: #008800;

body {
    margin: 0;
    padding: 0;
    background: $theme-color;
}

header {
    background: #444444;
    color: white;
    a { color: inherit; }
    .title {
        font-size: 32px;
        font-weight: bold;
        img {
            vertical-align: middle;
        }
    }
    .container {
        background: inherit;
    }
}

footer {
    margin-top: -$vpad;
    .container {
        @include border-radius( 0 0 10px 10px );
    }
}

nav {
    ul {
        display: block;
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        display: inline;
        &::after {
            content: ' | ';
        }
        &:last-child::after {
            content: '';
        }
    }
}

a {
    color: $theme-color;
    text-decoration: none;
    &:hover {
        text-shadow: 0 0 0.2em invert( complement( $theme-color ) );
    }
    &.active {
        font-weight: bolder;
        &:hover {
            text-shadow: inherit;
        }
    }
}

.container {
    margin: 0 $hpad;
    background: white;
    padding: $vpad $hpad;
}

@media (min-width: $cwidth + (2 * $hpad)) {
    .container {
        width: $cwidth;
        margin: 0 auto;
    }
}