---
layout: default
---

<h1 class="text-center">
    Trip to Cherkasy
    <a target="album" href="https://photos.app.goo.gl/ep4WeymP4HQibEHC9" style="display: block; font-size: initial;">
        📷 Photo Album 📷
    </a>
</h1>
<div class="post-nav">
    <div class="prev">
        {% if page.previous.url %}
        <a href="{{page.previous.url}}">
            {% if page.previous.category %}{{page.previous.category}}: {% endif %}
            {{page.previous.title}}
        </a>
        {% endif %}
    </div>
    <h2 class="text-center">
        {% if page.category %}{{page.category}}: {% endif %}
        {{ page.title }}<br />
        <small>{{ page.date | date: "%A, %b %e, %Y" }}</small>
    </h2>
    <div class="next">
        {% if page.next.url %}
        <a href="{{page.next.url}}">
            {% if page.next.category %}{{page.next.category}}: {% endif %}
            {{page.next.title}}
        </a>
        {% endif %}
    </div>
</div>
{{ content }}
<div class="post-nav">
    <div class="prev">
        {% if page.previous.url %}
        <a href="{{page.previous.url}}">
            {% if page.previous.category %}{{page.previous.category}}: {% endif %}
            {{page.previous.title}}
        </a>
        {% endif %}
    </div>
    <div class="next">
        {% if page.next.url %}
        <a href="{{page.next.url}}">
            {% if page.next.category %}{{page.next.category}}: {% endif %}
            {{page.next.title}}
        </a>
        {% endif %}
    </div>
</div>